# Navigation

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# List

if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
else # OS X `ls`
    colorflag="-G"
fi

alias l="ls -l ${colorflag}"
alias la="ls -la ${colorflag}"

alias vi="vim"
alias gdiff="gist -c -t diff"

function note() {
	f=`date +%Y%m%d%H%M`

	if [[ $1 ]]; then
		f="$f-$1.txt"
	else
		f="$f.txt"
	fi
	touch $f
	$EDITOR $f
}
