[core]
    quotepath = false
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol

[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
  hist = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  changelog = "!f() { git whatchanged --stat --pretty=oneline --abbrev-commit --since=$1; }; f"
  type = cat-file -t
  dump = cat-file -p
  rpull = pull --rebase --stat
  stashpull = !git stash && git rpull && git stash pop
  cleanpull = !git checkout -- . && git rpull
[branch]
    autosetupmerge = true
